@tailwind base;

@tailwind components;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@font-face {
  font-family: 'Helvetica Neue Regular';
  src: url('./assets/fonts/HelveticaNeueRegular.woff2') format('woff2'),
    url('./assets/fonts/HelveticaNeueRegular.woff') format('woff');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/IRANSansWeb_Bold.woff2') format('woff2'),
    url('./assets/fonts/IRANSansWeb_Bold.woff') format('woff');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/IRANSansWeb.woff2') format('woff2'),
    url('./assets/fonts/IRANSansWeb.woff') format('woff');
}

@tailwind utilities;

@layer utilities {
  .container-spacing {
    @apply container mx-auto px-5 md:px-10 xl:px-32;
  }
  .text-bind-to-screen {
    font-size: 11.8vw;
    line-height: 1;
  }
  .text-bind-to-screen-sm {
    font-size: 7vw;
    line-height: 1;
  }
  .max-h-2screen {
    max-height: 200vh;
  }
  .rtl {
    direction: rtl;
  }
  .fill-white {
    fill: white;
  }
  .fade-in {
    animation: fadeIn 0.7s forwards;
  }
}

.slide-up {
  /* 
  animating the height & margin properties forces the browser to do layout operations
  & is a considered a bad practice. but this is just an experimentation. so, whatever :)
  */
  transition-property: height, margin-top;
  transition-duration: 2.3s;
  transition-timing-function: linear;
  height: 0vh;
  margin-top: -100vh;
  color: transparent;
}

.footer {
  height: 556px;
}
.page-wrapper {
  margin-bottom: 556px;
}
